@page "/tables/datagridplayeraccount"

@inject YourGameServer.Data.GameDbContext dbContext
@inject MudBlazor.ISnackbar snackBar

@* <MudDataGrid Items="(new PlayerAccount[] { playerAccount })" ReadOnly="false" EditMode="DataGridEditMode.Inline" StartedCommittingItemChanges="@(async () => await Create())"> *@
<MudDataGrid Items="(new PlayerAccount[] { playerAccount })" ReadOnly="false" EditMode="DataGridEditMode.Inline" @onsubmit="Create">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Create</MudText>
    </ToolBarContent>
    <Columns>
        <Column T="PlayerAccount" Field="Code" />
        <Column T="PlayerAccount" Field="CurrentDeviceId" />
        <Column T="PlayerAccount" Field="Status">
            <EditTemplate>
                <MudSelect T="PlayerAccountStatus" @bind-Value="context.Status">
                    @foreach (PlayerAccountStatus item in Enum.GetValues(typeof(PlayerAccountStatus)))
                    {
                        <MudSelectItem Value="@item">@item.ToString()</MudSelectItem>
                    }
                </MudSelect>
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="Since">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.Since" />
                <MudTimePicker Text="@context.Since?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="LastLogin">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.LastLogin" />
                <MudTimePicker Text="@context.LastLogin?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="InactivateDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.InactivateDate" />
                <MudTimePicker Text="@context.InactivateDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="BanDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.BanDate" />
                <MudTimePicker Text="@context.BanDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="ExpireDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.ExpireDate" />
                <MudTimePicker Text="@context.ExpireDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
    </Columns>
</MudDataGrid>
<br />
@* <MudDataGrid Items="dbContext.PlayerAccounts" FixedHeader="true" ReadOnly="_readOnly" Sortable="true" Filterable="true" QuickFilter="QuickFilter" EditMode="DataGridEditMode.Inline" StartedCommittingItemChanges="(x) => Save(x)"> *@
<MudDataGrid Items="dbContext.PlayerAccounts" FixedHeader="true" ReadOnly="_readOnly" Sortable="true" Filterable="true" QuickFilter="QuickFilter" EditMode="DataGridEditMode.Inline" @onsubmit="Save">
    <ToolBarContent>
        <MudText Typo="Typo.h5">PlayerAccount</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
    </ToolBarContent>
    <Columns>
        <Column T="PlayerAccount" Field="Id" IsEditable="false" />
        <Column T="PlayerAccount" Field="Code" />
        <Column T="PlayerAccount" Field="CurrentDeviceId" />
        <Column T="PlayerAccount" Field="Status">
            <EditTemplate>
                <MudSelect T="PlayerAccountStatus" @bind-Value="context.Status">
                    @foreach (PlayerAccountStatus item in Enum.GetValues(typeof(PlayerAccountStatus)))
                    {
                        <MudSelectItem Value="@item">@item.ToString()</MudSelectItem>
                    }
                </MudSelect>
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="Since">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.Since" />
                <MudTimePicker Text="@context.Since?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="LastLogin">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.LastLogin" />
                <MudTimePicker Text="@context.LastLogin?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="InactivateDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.InactivateDate" />
                <MudTimePicker Text="@context.InactivateDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="BanDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.BanDate" />
                <MudTimePicker Text="@context.BanDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
        <Column T="PlayerAccount" Field="ExpireDate">
            <EditTemplate>
                <MudDatePicker @bind-Date="context.ExpireDate" />
                <MudTimePicker Text="@context.ExpireDate?.ToShortTimeString()" />
            </EditTemplate>
        </Column>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="PlayerAccount" />
    </PagerContent>
</MudDataGrid>

<div class="d-flex flex-wrap mt-4">
    <MudSwitch @bind-Checked="@_readOnly" Color="Color.Primary">Read Only</MudSwitch>
</div>

@code {
    bool _readOnly;

    string _searchString = "";
    
    PlayerAccount playerAccount = new();

    bool QuickFilter(PlayerAccount x)
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Code.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.Id} {x.Since} {x.LastLogin}".Contains(_searchString))
            return true;

        return false;
    }

    async Task Create()
    {
        dbContext.Add(playerAccount);
        await dbContext.SaveChangesAsync();
        playerAccount = new PlayerAccount();
        snackBar.Add($"New PlayerAccount (id:{playerAccount.Id}) Created.", Severity.Success);
    }

    void Save(object x)
    {
        //dbContext.Entry(playerAccount).State = Microsoft.EntityFrameworkCore.EntityState.Modified;
        //await dbContext.SaveChangesAsync();
        snackBar.Add($"PlayerAccount (id:{playerAccount.Id}) Saved.", Severity.Success);
    }

    async Task Delete()
    {
        dbContext.PlayerAccounts.Remove(playerAccount);
        await dbContext.SaveChangesAsync();
        snackBar.Add($"PlayerAccount (id:{playerAccount.Id}) Deleted.", Severity.Success);
    }
}
