@inject NavigationManager navigationManager
@inject GameDbContext context

<h2>Create Dummy Players</h2>

<p>Latest LUID: @latestLUID</p>

<p>
    <EditForm Model="@createDummyPlayerModel" OnValidSubmit="@Execute">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputNumber @bind-Value="createDummyPlayerModel.Count" class="form-control" ParsingErrorMessage="number out of range"></InputNumber>
        <br />
        <button type="submit" class="btn btn-primary" Disabled="@buttonDisabled">Execute</button>
    </EditForm>
</p>
<p>
    <button class="btn btn-secondary" @onclick="DeleteAll" Disabled="@button2Disabled">Delete All</button>
</p>
@code {
    [Parameter]
    public int InitialValue { get; set; } = 300;

    protected override void OnParametersSet()
    {
        createDummyPlayerModel.Count = InitialValue;
    }
    
    public class CreateDummyPlayerModel
    {
        public int Count { get; set; } = 300;
    }

    CreateDummyPlayerModel createDummyPlayerModel = new();

    private bool buttonDisabled;
    private bool button2Disabled;

    string latestLUID;
}
