@page
@model YourGameServer.Pages.PlayerDevices.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<component type="typeof(PagingNavigation)" param-Model="@(new PagingNavigationModel(Model.PlayerDevices))" param-Width="20" param-Style="@("position:sticky;top: 7rem;background-color: #fff")" render-mode="ServerPrerendered" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDevices[0].Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDevices[0].DeviceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDevices[0].DeviceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDevices[0].Since)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDevices[0].LastUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayerDevices) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Owner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Since)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUsed)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
