@page
@model YourGameServer.Pages.PlayerAccounts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="position: sticky;top: 5rem;background-color: #fff">
    <a asp-page="Create">Create New</a>
</p>
<component type="typeof(PagingNavigation)" param-Model="@(new PagingNavigationModel(Model.PlayerAccounts))" param-Width="20" param-Style="@("position:sticky;top: 7rem;background-color: #fff")" render-mode="ServerPrerendered" />
<table class="table">
    <thead style="position: sticky;top: 10rem;background-color: #fff">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].Luid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].Since)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].LastLogin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].InactivateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].BanDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerAccounts[0].ExpireDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayerAccounts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Luid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Since)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastLogin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InactivateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BanDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
